@page "/"
@inject IDataService DataService
@inject IJSRuntime JSRuntime

@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService

<PageTitle>Index</PageTitle>

@if (true)
{
	<!DOCTYPE html>

	<div id="mainMooket">Cow say moo!</div>
	<textarea id="query" name="query" rows=10 cols=50>
			SELECT DATETIME(time,"unixepoch") AS time, 
			"Holy Cheese", "Holy Milk",
			("Holy Cheese" - "Holy Milk"*2) AS "Margin"
			FROM ask
			</textarea>
	<br />
	<button id="datago">Query</button>
	<div id="plot" style="display:flex;"></div>

}
else if (!@DataService.Initiated)
{


}
else
{
	<div>
	</div>
}



@code {
	private string selectedItem;
	private string dataUpdatedMessage;


	protected override async Task OnInitializedAsync()
	{
		DataService.DataUpdated += (sender, message) =>
		{
			dataUpdatedMessage = message;
			StateHasChanged();
		};
	}

}
