@page "/"
@inject IDataService DataService
@inject IJSRuntime JSRuntime

@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService

<PageTitle>Index</PageTitle>

if (!@DataService.Initiated)
	{


	}
	else
	{
	<div>
	</div>
	}



	@code {
		private string selectedItem;
		private string dataUpdatedMessage;


		protected override async Task OnInitializedAsync()
		{
			DataService.DataUpdated += (sender, message) =>
			{
				dataUpdatedMessage = message;
				StateHasChanged();
			};
		}

	}

